<div class="text-left mx-auto w-50">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.all, as: :select %>
    <%= f.input :description %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
