.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
}

.navbar-header {
  height: 56px;
  width: 320px;
  object-fit: cover;
  transition: 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}
